{% extends 'base.html' %}

{% block title %}Login | CodeQuiz Hub{% endblock %}



{% block content %}
<section class="pt-32 px-6 max-w-md mx-auto fade-in">
    <h2 class="text-3xl font-semibold text-primary mb-6">Login to Your Account</h2>
    <form method="POST" class="bg-white p-6 rounded-lg shadow-md space-y-4">
        <div>
            <label for="email" class="block mb-1 text-gray-600">Email</label>
            <input type="email" name="email" id="email" required class="w-full border px-3 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary">
        </div>
        <div>
            <label for="password" class="block mb-1 text-gray-600">Password</label>
            <input type="password" name="password" id="password" required class="w-full border px-3 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary">
        </div>
        <button type="submit" class="w-full bg-primary text-white py-2 rounded-lg hover:bg-secondary transition-all duration-300">Login</button>
    </form>
    <div class="flex justify-between text-sm text-primary font-medium mt-4">
      <a href="{{url_for('auth.organization_register')}}" class="hover:underline">Register as Organisation</a>
      <a href="{{url_for('auth.register')}}" class="hover:underline">Register as Individual</a>
    </div>
    <div class="container mx-auto px-4 mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="space-y-4">
              {% for category, message in messages %}
                <div class="p-4 rounded-lg 
                  {% if category == 'success' %}
                    bg-green-100 text-green-800
                  {% elif category == 'error' %}
                    bg-red-100 text-red-800
                  {% elif category == 'warning' %}
                    bg-yellow-100 text-yellow-800
                  {% else %}
                    bg-blue-100 text-blue-800
                  {% endif %}
                ">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
</section>
{% endblock %}
